/* Banner SobreNosotros */ 
.banner-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(219, 217, 217, 0.908);
    background-image: url(../assets/img/about.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: space;
    width: 100%;
    height: 295px;
    border-radius: 25px;
}