
/*  Banner index */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(233, 219, 219, 0.908);
    background-image: url(../assets/img/reparacion_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 285px;
    border-radius: 25px;


}