/* Banner Servicios */
.banner-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(219, 217, 217, 0.908);
    background-image: url(../assets/img/mantenimiento_1-jpg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 285px;
    border-radius: 25px;
}