/*FOOTER*/

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

footer section div{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer section div img{
    width: 25px;
    
}