/*Estilos del Header*/
nav{
    
    
    .header {
    border: 1px solid black;
    border-radius: 15px;
    margin: 4px;
    
    a img{
        width: 65px;
    }
    
    div ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        text-decoration: none;
        
        li a{
            color: black;
            text-decoration: none;
            font-size: 16px;
            font-family: "Work Sans";
            transition: color 0.5s;
        }

        a:hover{
            font-size: 16.5px;
            color: aqua!important;
        }
        
        
    }
}

}